:root {
  --color-bg: rgb(36, 36, 36);
  --color-text: white;
  --color-text-vague: gray;
  --color-accent: rgb(207, 27, 27);
}

[theme="light"] {
  --color-bg: white;
  --color-text: black;
  --color-text-vague: gray;
  --color-accent: rgb(207, 27, 27);
}
